@font-face {
  font-family: 'AvantGardeDemi';
  src: url('../fonts/AVGARDD_2.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;	
    background-color: #FFFFFF;
}

#header a {
    display: inline-flex;
    text-decoration: none;
}

#header #banner {
    display: flex;
    padding: 0.5em 1em;
	gap: 10px;
}

#header #banner img {
    height: 50px;
}

#header #banner h1 {
    margin: 0;
    color: #dc3545;
	font-family: 'AvantGardeDemi', sans-serif;
    font-size: 2.2em;
    word-spacing: -3px;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#header a {
	text-decoration: none; 
	color: inherit;
}

#menu-horizontal {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #dc3545, #8b1f28);
    padding: 0;
    margin: 0;
}

#menu-horizontal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu-horizontal ul li {
    position: relative;
}

#menu-horizontal ul li a {
    display: block;
    padding: 1em 1.5em;
    color: #FFF;
    text-decoration: none;
    transition: background 0.3s;
}

#menu-horizontal ul li a:hover {
    background: rgba(0,0,0,0.2);
}

#menu-horizontal ul li a.active {
    background: rgba(0,0,0,0.3);
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    #menu-horizontal ul {
        flex-direction: column;
    }
    
    #header #banner h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
		max-height: 45px;
		font-size: 1.8em;
		color: #fff;
		cursor: pointer;
		padding: .8em;
		background: linear-gradient(to bottom, #dc3545, #8b1f28);
    }

    #menu-horizontal {
        display: none;
        flex-direction: column;
        background: linear-gradient(to bottom, #dc3545, #8b1f28);
    }

    #menu-horizontal.active {
        display: flex;
    }

    #menu-horizontal ul {
        flex-direction: column;
        width: 100%;
    }

    #menu-horizontal ul li a {
        padding: 1em;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}